<div class="h-100">
  <!-- <div fxLayout="row" fxLayoutAlign="space-around">
      <p>Angular testing PDF</p>
      <p>Angular testing PDF1</p>
    </div> -->

  <ng2-pdfjs-viewer
    #bigPdfViewer
    pdfSrc="{{ filterData.fileName }}"
    downloadFileName="Shravati Bridge Tender"
    zoom="auto"
    viewerId="MyID"
    (onDocumentLoad)="testPagesLoaded($event)"
    (onPageChange)="testPageChange($event)"
    (onBeforePrint)="testBeforePrint()"
    (onAfterPrint)="testAfterPrint()"
  >
  </ng2-pdfjs-viewer>
</div>
