<div class="h-100" fxLayout="row" fxLayoutAlign="space-between start">
  <div class="h-100">
    <!-- Pages {{ viewer.page }} of {{ totalPages }}
    {{ viewer.pdfSrc }} -->

    <!-- {{ viewer.PDFViewerApplication }}
    {{ viewer.PDFViewerApplicationOptions }} -->
    <ng2-pdfjs-viewer
      #viewer
      pdfSrc="{{ filterData.fileName }}"
      downloadFileName="{{ filterData.fileName }}"
      zoom="auto"
      viewerId="MyID"
      (onDocumentLoad)="testPagesLoaded($event)"
      (onPageChange)="testPageChange($event)"
      (onBeforePrint)="testBeforePrint()"
      (onAfterPrint)="testAfterPrint()"
    >
    </ng2-pdfjs-viewer>
  </div>
  <div *ngIf="segmentShow" class="p-10" fxFlex="21">
    <!-- <mat-selection-list #shoes> -->

    <div class="segments-values">
      <!-- <mat-icon (click)="close()" class="close-icon">cancel</mat-icon> -->
      <div fxLayout="row" class="segement-search">
        <mat-icon matPrefix class="search-icon">search</mat-icon>
        <input
          class="segement"
          matInput
          [(ngModel)]="searchSegment"
          placeholder="Search"
        />
      </div>
      <hr />
      <div
        class="clasuses-list"
        *ngFor="let clasues of segments | filter: searchSegment"
      >
        <mat-accordion>
          <mat-expansion-panel hideToggle="true" (click)="click()">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{ clasues.name }}
              </mat-panel-title>
              ({{ clasues.pg.length }})
              <mat-icon *ngIf="clasues.count > 0">{{
                icon ? "arrow_drop_up" : "arrow_drop_down"
              }}</mat-icon>
              <div *ngIf="clasues.count == 0" class="pl-22"></div>
            </mat-expansion-panel-header>
            <span class="pg-count" *ngFor="let pagno of clasues.pg"
              >pg:{{ pagno.pageNo }} </span
            >&nbsp;
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>

    <!-- </mat-selection-list> -->
    <!-- <table class="w-100">
      <thead>
        <tr>
          <th>Attribute</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td data-column="Attribute">Page</td>
          <td data-column="Value">payment terms</td>
        </tr>
        <tr>
          <td data-column="Attribute">Source</td>
          <td data-column="Value">priceVaraiation</td>
        </tr>
      </tbody>
    </table> -->
  </div>
</div>
