<div
  fxLayout="row"
  fxLayout.sm="column"
  fxLayout.xs="column"
  fxLayoutAlign="space-around center"
  fxLayoutGap="10px"
  fxLayoutAlign.xs="space-around center"
  fxLayoutAlign.sm="space-around center"
  class="bgc-grey"
>
  <mat-card class="example-card" *ngFor="let documents of pdfData">
    <div class="edit-icon" fxLayoutAlign="end end">
      <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
    </div>
    <img
      class="document-image"
      src="{{ documents.thumbnails }}"
      alt="Photo of a Shiba Inu"
      (click)="DocumentClick($event, documents.id, documents.cName)"
    />
    <mat-card-content>
      <div
        class="content-trash"
        fxLayout="row"
        fxLayoutAlign="space-between center"
      >
        <span class="document-name">{{ documents.cName }}</span>
        <i class="fa fa-trash" aria-hidden="true"></i>
        <!-- <mat-icon class="document-DTLicon">delete</mat-icon> -->
      </div>
      <div
        class="document-bunit"
        fxLayout="row"
        fxLayoutAlign="space-between center"
      >
        <span>{{ documents.BusinessUnit }}</span>
        <span>{{ documents.lastUpdatedOn }}</span>
      </div>
      <div
        class="document-bunit"
        fxLayout="row"
        fxLayoutAlign="space-between center"
      >
        <span>{{ documents.clientName }}</span>
        <span>pg 100</span>
      </div>
    </mat-card-content>
  </mat-card>
</div>
