<mat-toolbar color="primary" class="sub-toolbar">
  <button
    mat-button
    routerLink="/Dashboard"
    [routerLinkActiveOptions]="{ exact: true }"
    routerLinkActive="mat-accent"
  >
    <mat-icon>dashboard</mat-icon>
    <span>Dashboard</span>
  </button>
  <button
    mat-button
    routerLink="/Documents"
    [routerLinkActiveOptions]="{ exact: true }"
    routerLinkActive="mat-accent"
  >
    <mat-icon>picture_as_pdf</mat-icon>
    <span> Documents</span>
  </button>
  <div class="spacer"></div>

  <div class="search-wrapper" *ngIf="annotation">
    <!-- <span class="searchHeader">What are you looking for?</span> -->
    <mat-form-field appearance="outline">
      <input matInput (keyup)="onKey($event)" />
      <mat-icon matSuffix class="search-icon">search</mat-icon>
    </mat-form-field>
  </div>
  <input #file type="file" [hidden]="true" accept="files/*" />
  <button mat-button class="add-document-icon" #upload (click)="file.click()">
    <mat-icon>note_add</mat-icon>
  </button>
  <span class="document-add"> Add <br />Documents</span>
</mat-toolbar>
<mat-toolbar class="grid-toolbar">
  <div *ngIf="!annotation">
    <i class="fa fa-arrow-left" aria-hidden="true" routerLink="/Documents"></i>
    <span class="backward">Document list / Annotate Document/</span>
    <span class="backward">{{ pdfFilename }}</span>
  </div>

  <div class="spacer"></div>
  <div *ngIf="annotation">
    <mat-icon>grid_on</mat-icon>
    <mat-slide-toggle
      class="sidebar-Toggle"
      [(ngModel)]="checked"
      (change)="changed()"
    >
    </mat-slide-toggle>
    <mat-icon>menu</mat-icon>
  </div>
  <div *ngIf="!annotation">
    <button
      mat-button
      class="annotation_count"
      (click)="annotationCount()"
      [ngClass]="annontationchecked ? 'buttonactive' : 'annotation'"
    >
      <span class="annotation-icon">
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i
      ></span>
      <span class="annotation-count">Annotation count</span>
      <span>0{{ annonatationCountvalue }}</span>
    </button>
  </div>
  <div>
    <button
      mat-button
      class="rate-document-icon"
      (click)="reviewAnntation()"
      [ngClass]="!annontationchecked ? 'buttonactive' : ''"
    >
      <span class="review-add">Review <br />Annotations</span>
      <mat-icon> rate_review</mat-icon>
    </button>
  </div>
</mat-toolbar>
