.main-content {
  height: 100%;
  padding: 5px !important;
  // height: calc(100% - 132px) !important; // Remove toolbar height
  background-color: grey;
}
.container-scrollBody {
  overflow-y: scroll;

  &:hover {
    &::-webkit-scrollbar {
      display: block;
      opacity: 1;
    }
    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px #e4e4e4;
      //         above green is for scroller background color
    }
    &::-webkit-scrollbar-thumb {
      background-color: #162648;
      //         above red is for scroller color
      outline: 1px solid slategrey;
    }
  }
  &::-webkit-scrollbar {
    width: 2px;
    opacity: 0;
  }
}
.spacer {
  flex: 1 1 auto;
}

button {
  font-size: large;
  margin-left: 10px;
  margin-right: 10px;
  outline: none;
}

.header-toolbar {
  height: 44px;
  position: relative;
  z-index: 1;
  box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
  .brand-profile {
    background-color: #c6c2c2;
    height: 43px;
    width: 64px;
    margin-right: 10px;
  }
  .module-name {
    font-size: 18px;
    opacity: 0.2;
    font-weight: 500;
    margin: 0px;
  }
  .modules {
    font-size: 12px;
    // height: 32px;
    border-radius: 30px;
    .mat-button-toggle-checked {
      background-color: blue;
      color: white;
      border-radius: 30px;
    }
    ::ng-deep.mat-button-toggle-label-content {
      line-height: 0px !important;
      padding: 0px 16px !important;
    }
  }
  .profile-menu {
    .icon-gray {
      color: grey;
      outline: none;
    }
  }
}
.logout-grey {
  color: grey;
  outline: none;
}
