<mat-toolbar class="header-toolbar" *ngIf="isAdmin">
  <div class="brand-profile"></div>
  <p
    class="module-name"
    routerLink="/Documents"
    [routerLinkActiveOptions]="{ exact: true }"
    routerLinkActive="mat-accent"
  >
    Branding
  </p>
  <div class="spacer"></div>
  <p class="module-name" *ngIf="!module">
    Training Module
    <!-- <mat-button-toggle-group
      class="modules"
      appearance="legacy"
      name="fontStyle"
      aria-label="Font Style"
    >
      <mat-button-toggle class="label-modules" checked value="Training"
        >Training</mat-button-toggle
      >
      <mat-button-toggle class="label-modules" value="Live"
        >Live</mat-button-toggle
      >
    </mat-button-toggle-group> -->
  </p>
  <p class="module-name" *ngIf="module">live Module</p>

  <div class="profile-menu">
    <button mat-icon-button [matMenuTriggerFor]="menu" class="icon-gray">
      <mat-icon>person</mat-icon>
      <mat-icon>arrow_drop_down</mat-icon>
    </button>
    <mat-menu #menu="matMenu" [overlapTrigger]="false">
      <button mat-menu-item>
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </button>
      <button mat-menu-item>
        <mat-icon>people_outline</mat-icon>
        <span>Connecting</span>
      </button>
      <button mat-menu-item>
        <mat-icon>videocam</mat-icon>
        <span>Let's talk</span>
      </button>
    </mat-menu>
  </div>
  <button mat-icon-button class="logout-grey">
    <mat-icon (click)="logout()">exit_to_app</mat-icon>
  </button>
</mat-toolbar>
<headers *ngIf="isAdmin"></headers>
<div class="main-content mat-typography container-scrollBody">
  <router-outlet class="container-scrollBody"></router-outlet>
</div>
